/Exercise01_02.java
/Exercise01_04.java
/Exercise01_06.java
/Exercise01_08.java
/Exercise01_10.java
/Exercise01_12.java
/Exercise02_02.java
/Exercise02_04.java
/Exercise02_06.java
/Exercise02_08.java
/Exercise02_10.java
/Exercise02_12.java
/Exercise02_14.java
/Exercise02_16.java
/Exercise02_18.java
/Exercise02_20.java
/Exercise02_22.java
/Exercise03_02.java
/Exercise03_04.java
/Exercise03_06.java
/Exercise03_08.java
/Exercise03_10.java
/Exercise03_12.java
/Exercise03_14.java
/Exercise03_16.java
/Exercise03_18.java
/Exercise03_20.java
/Exercise03_22.java
/Exercise03_24.java
/Exercise03_26.java
/Exercise03_28.java
/Exercise03_30.java
/Exercise03_32.java
/Exercise03_34.java
/Exercise04_02.java
/Exercise04_04.java
/Exercise04_06.java
/Exercise04_08.java
/Exercise04_10.java
/Exercise04_12.java
/Exercise04_14.java
/Exercise04_16.java
/Exercise04_18.java
/Exercise04_20.java
/Exercise04_22.java
/Exercise04_24.java
/Exercise04_26.java
/Exercise05_02.java
/Exercise05_04.java
/Exercise05_06.java
/Exercise05_08.java
/Exercise05_10.java
/Exercise05_12.java
/Exercise05_14.java
/Exercise05_16.java
/Exercise05_18.java
/Exercise05_20.java
/Exercise05_22.java
/Exercise05_24.java
/Exercise05_26.java
/Exercise05_28.java
/Exercise05_30.java
/Exercise05_32.java
/Exercise05_34.java
/Exercise05_36.java
/Exercise05_38.java
/Exercise05_40.java
/Exercise05_42.java
/Exercise05_44.java
/Exercise05_46.java
/Exercise05_48.java
/Exercise05_50.java
/Exercise06_02.java
/Exercise06_04.java
/Exercise06_06.java
/Exercise06_08.java
/Exercise06_10.java
/Exercise06_12.java
/Exercise06_14.java
/Exercise06_16.java
/Exercise06_18.java
/Exercise06_20.java
/Exercise06_22.java
/Exercise06_24.java
/Exercise06_26.java
/Exercise06_28.java
/Exercise06_30.java
/Exercise06_32.java
/Exercise06_34.java
/Exercise06_36.java
/Exercise06_38.java
/Exercise07_02.java
/Exercise07_04.java
/Exercise07_06.java
/Exercise07_08.java
/Exercise07_10.java
/Exercise07_12.java
/Exercise07_14.java
/Exercise07_16.java
/Exercise07_18.java
/Exercise07_20.java
/Exercise07_22.java
/Exercise07_24.java
/Exercise07_26.java
/Exercise07_28.java
/Exercise07_30.java
/Exercise07_32.java
/Exercise07_34.java
/Exercise08_02.java
/Exercise08_04.java
/Exercise08_06.java
/Exercise08_08.java
/Exercise08_10.java
/Exercise08_12.java
/Exercise08_14.java
/Exercise08_16.java
/Exercise08_18.java
/Exercise08_20.java
/Exercise08_22.java
/Exercise08_24.java
/Exercise08_26.java
/Exercise08_28.java
/Exercise08_30.java
/Exercise08_32.java
/Exercise08_34.java
/Exercise08_36.java
/Exercise09_02.java
/Exercise09_04.java
/Exercise09_06.java
/Exercise09_08.java
/Exercise09_10.java
/Exercise09_12.java
/Exercise10_02.java
/Exercise10_04.java
/Exercise10_06.java
/Exercise10_08.java
/Exercise10_10.java
/Exercise10_12.java
/Exercise10_14.java
/Exercise10_16.java
/Exercise10_18.java
/Exercise10_20.java
/Exercise10_22.java
/Exercise10_24.java
/Exercise10_26.java
/Exercise10_28.java
/Exercise11_02.java
/Exercise11_04.java
/Exercise11_06.java
/Exercise11_08.java
/Exercise11_10.java
/Exercise11_12.java
/Exercise11_14.java
/Exercise11_16.java
/Exercise12_02.java
/Exercise12_04.java
/Exercise12_06.java
/Exercise12_08.java
/Exercise12_10.java
/Exercise12_12.java
/Exercise12_14.java
/Exercise12_16.java
/Exercise12_18.java
/Exercise12_20.java
/Exercise12_22.java
/Exercise12_24.java
/Exercise12_26.java
/Exercise12_28.java
/Exercise12_30.java
/Exercise12_32.java
/Exercise13_02.java
/Exercise13_04.java
/Exercise13_06.java
/Exercise13_08.java
/Exercise13_10.java
/Exercise13_12.java
/Exercise13_14.java
/Exercise13_16.java
/Exercise13_18.java
/Exercise13_20.java
/Exercise14_02.java
/Exercise14_04.java
/Exercise14_06.java
/Exercise14_08.java
